.gyms{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px 8px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.15);
    gap: 8px;
    width: 250px;
    height: 400px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    max-width: 90%;
    margin: 0 auto;
}